<div class="container" style="text-align: center;">
    <h2>
        Components
    </h2>
    <div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-2" style="padding-top: 20px;">
                <mat-card
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon routerLink="/buttons">smart_button</mat-icon>
                    Buttons
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon routerLink="/button-toggle">smart_button</mat-icon>
                    Button-Toggle
                </mat-card>
            </div>
        </div>
    </div>
</div>