

<div class="container" style="text-align: center;">
    <h2 class="heading">
        Components
    </h2>
    <div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-2" style="padding-top: 20px;">
                <mat-card  routerLink="/buttons"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>smart_button</mat-icon>
                    Buttons
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/button-toggle"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>radio_button_checked</mat-icon>
                    Button-Toggle
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/bedge"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>filter_vintage</mat-icon>
                    bedge
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/bottom-sheet"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>vertical_align_bottom</mat-icon>
                    bottom-sheet
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/card"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>credit_card</mat-icon>
                    card
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/check-box"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>check_box</mat-icon>
                    check-box
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/chips"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>line_weight</mat-icon>
                    chips
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/datepicker"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon>date_range</mat-icon>
                    datepicker
                </mat-card>
            </div>
            <div class="col-2" style="padding-top: 20px;">
                <mat-card routerLink="/divider"
                    style="height: 120px !important; display: flex; justify-content: center; align-items: center;">
                    <mat-icon> maximize</mat-icon>
                    divider
                </mat-card>
            </div>
        </div>
    </div>
</div>